<h1 class="text-xl font-bold"> <%= @user.email %> Profile </h1>

<div class="mt-10">
  <%= turbo_frame_tag dom_id(@user) do %>
    <% if current_user.follows?(@user) %>
      <div class="rounded-md bg-green-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-green-800">You already follow <%= @user.email %></p>
          </div>
        </div>
      </div>
    <% elsif @user != current_user %>
      <%= button_to "Follow #{@user.email}",
        followings_path(followed_user_id: @user.id),
        method: :post,
        class: "bg-indigo-500 hover:bg-indigo-600 text-white p-3 rounded-lg mt-5" %>
    <% end %>
  <% end %>
</div>